<div class="form-group">
  <input
    required
    class="form-control mb-4"
    type="text"
    placeholder="Enter Entry"
    name="entryItem"
  />
  <a href="/journal" class="btn btn-secondary">Cancel</a>
  <input type="submit" class="btn btn-primary" />
</div>
